.profileLabel {
  padding: 0 0 0 1rem;
  margin: 0;
}

.profileValue {
  font-weight: bold;
  padding: 0 1rem;
  word-wrap: break-word;
}

.revokeButton {
  height: 30px;
  border: 1px solid;
}
.editProfileValue {
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 1rem;
}

.hrCentered {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.editProfileFaButton {
  height: 30px;
  width: 30px;
  border: 1px black solid;
}
