<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="EfCoreAppender" type="SegmentSniper.Api.Logging.EfCoreAppender, SegmentSniper.Api">
		<param name="context" value="SegmentSniperDbContext" />
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="EfCoreAppender" />
	</root>
</log4net>
