.helpModal {
   padding: 2rem .5rem;
   
}

.helpModalTitle {

}

.helpModalSubTitle {
    font-weight: 800;
}
.helpModalBody {
  font-size: smaller;
}

.showHelpButton {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 90%;
}

