.helpModal {
   padding: 2rem .5rem;
   
}

.helpModalTitle {

}

.helpModalSubTitle {
    font-weight: 800;
}
.helpModalBody {
  font-size: smaller;
}

.helpIcon {
  color: #ffca14;
  padding-top: 2rem;
}
