.title {
    background-color: azure;
    padding: 1rem 1rem;
  }
  

.switch_label {    
    padding-bottom: 0%;
    padding-right: 3px;
    margin-bottom: 0%;
    font-size: small;
    text-align: end;
}

.switch {
    zoom: .75;
    padding-top: 2px;
}