.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.deleteAccountButton {
  background-color: red;
  margin: 1em;
  border: 1px solid black;
}

.imageBackground {
  position: relative;
  
  height: 100%;
  background-color: #29dcb2;
  
  
}

.cameraButton {
  border: none;
  background-color: #ffca14;
}

.profileLabel {
  padding:0 0 0 1rem;
  margin: 0;
}

.profileValue {  
  font-weight: bold;
  padding: 0 1rem;
  word-wrap: break-word;
}

.editProfileValue {
  padding:0 0 0 1rem;
  margin: 0 0 1rem 1rem;
}

.hrCentered {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.editProfileFaButton {
  height: 30px;
  width: 30px;
}
