.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.imageBackground {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #29dcb2;
  border: solid 1px #000000;  
  
}

.cameraButton {
  border: none;
}

.profileLabel {
  padding:0 0 0 1rem;
  margin: 0;
}

.profileValue {  
  font-weight: bold;
  padding: 0 1rem;
  word-wrap: break-word;
}

.hrCentered {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}