
:root {
  --slider-main-color: #969696;
  --slider-thumb-color: #ffca14;
  --slider-main-color-hover: #d3a510;
  --slider-track-color: #29dcb2;
  --slider-mark-color: #20ad8c;
}

body {
  font-family: 'Roboto Mono', 'Lucida Console', monospace;
}

.custom-spinner {
  border-color: #ffca14;
  border-top-color: #f3f3f3;
}

.btn-primary {  
  padding: 4px ;
  border-radius: 7px;
  background-color: #29dcb2;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}

.btn-primary:disabled {
  background-color: #748883;
  transform: scale(1.05);
}

.btn-primary:hover {
  background-color: #22b18f;
  transform: scale(1.05);
}

.btn-secondary {  
  padding: 4px ;
  border-radius: 7px;
  background-color: #ffca14;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}
.btn-secondary:hover {
  background-color: #ffca14;
  transform: scale(1.05);
}


.primary-rounded-button {  
  padding: 8px ;
  border-radius: 7px;
  border: 1px, solid, #000;
  background-color: #29dcb2;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}

.primary-rounded-button:hover {
  background-color: #22b18f;
  transform: scale(1.05);
}


.header-image {
 width: 250px
}

.navbar.collapse.hide {
  justify-content: end;
}

.logo {
  width: 100%;
}

.hr-75 {
  width: 75%;
  margin: 0 auto; 
}

.activity-card-heading {
  background-color: azure;
}

.segment-card-heading {
  background-color: azure;
}

.segment-list-options {
  margin: auto;
  align-items: center;
  padding: 11px ;
  border-radius: 7px;
  border: 1px solid;
}

.snipe-options-heading {
  font-weight: 800;
}


.activity-card-label {
  font-weight: 600;
}

.loader {
  display: flex;
  align-self: center;
  justify-self: center;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #ffca14; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


.customSlider {
  /* max width of your slider */
  max-width: 500px;
  /* Optional: Only If you want to center your slider in the page */
  /* margin: auto; */
  padding-bottom: 2rem;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 6px;
 /* default color of your track */
  background: var(--slider-main-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--slider-track-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--slider-thumb-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--slider-main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 2.0px;
  height: 10px;
  background-color: var(--slider-mark-color);
}

.disabledSlider {
  opacity: 0.5; /* Adjust the opacity to visually indicate a disabled state */
  pointer-events: none; /* Make the slider un-clickable when disabled */
  cursor: not-allowed; /* Show a not-allowed cursor when hovering over the disabled slider */
}

