
.rounded-button {  
  padding: 20px 10px;
  border-radius: 20px;
  background-color: #00AEEF;
  text-decoration: underline;
  color: #292b2c;
  transition: background-color 0.4s ease;
  width: 200px; 
  text-align: center; 
}

.rounded-button:hover {
  background-color: #32c0fd8e;
  transform: scale(1.1);
}

.loader {
  display: flex;
  align-self: center;
  justify-self: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
