
body {
  font-family: 'Roboto Mono', 'Lucida Console', monospace;
}

.custom-spinner {
  border-color: #ffca14;
  border-top-color: #f3f3f3;
}

.btn-primary {  
  padding: 4px ;
  border-radius: 7px;
  background-color: #29dcb2;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}

.btn-primary:disabled {
  background-color: #748883;
  transform: scale(1.05);
}

.btn-primary:hover {
  background-color: #22b18f;
  transform: scale(1.05);
}

.btn-secondary {  
  padding: 4px ;
  border-radius: 7px;
  background-color: #ffca14;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}
.btn-secondary:hover {
  background-color: #ffca14;
  transform: scale(1.05);
}


.primary-rounded-button {  
  padding: 8px ;
  border-radius: 7px;
  background-color: #29dcb2;
  color: #292b2c;
  transition: background-color 0.4s ease;
  text-align: center; 
}

.primary-rounded-button:hover {
  background-color: #22b18f;
  transform: scale(1.05);
}


.header-image {
 width: 250px
}

.navbar.collapse.hide {
  justify-content: end;
}

.logo {
  width: 100%;
}

.hr-75 {
  width: 75%;
  margin: 0 auto; 
}

.activity-card-heading {
  background-color: azure;
}

.segment-card-heading {
  background-color: azure;
}

.segment-list-options {
  margin: auto;
  align-items: center;
  padding: 11px ;
  border-radius: 7px;
  border: 1px solid;
}

.activity-card-label {
  font-weight: 600;
}

.loader {
  display: flex;
  align-self: center;
  justify-self: center;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #ffca14; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
