.fa_icon {
  color: #000; /* Black color */
  font-size: 23px; /* Adjust for medium size */
}

.footer {
  position: sticky;
  bottom: 100;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium viewports */
  .fa-icon {
    font-size: 25px; /* Add any additional styles specifically for medium viewports */
  }
}
