.activityTypeFormGroup {

    padding: 0.5rem 1.5rem;
  }

.activityTypeLabel {
    padding-top: 0.5rem;
}

// .activityTypeRow {
//     display: flex;
//     justify-content: center;
// }

// @media (min-width: 768px) {
//     .activityTypeFormGroup {
//       flex-direction: row;
//       align-items: center;
//     }
// }