.activityTypeFormGroup {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
  }

.activityTypeLabel {
    padding-top: 0.5rem;
}

.activityTypeRow {
    flex-direction: row;
    justify-content: center;
}

.activityTypeLabelColumn {

}

@media (min-width: 768px) {
    .activityTypeFormGroup {
      flex-direction: row;
      align-items: center;
    }
}