.equipmentHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.equipmentLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
