.equipmentHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.equipmentLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.retire_button {
  background-color: red;
  border: 1px solid black;
}

.modal_button_row {
  width: 100%;
  text-align-last: center;
}
