.wrapper {
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
  padding: 0.5rem;
    font-family: Lucida Console, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
    min-width: 100%;
    margin: 0 0 auto 0;
    padding: 0 0;

  :global(.rdrDateRangeWrapper) {
    font: 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  :global(.rdrCalendarWrapper) {
    font: 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  :global(.rdrMonth) {
    font: 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  :global(.rdrDayNumber span) {
    font-size: 0.75rem;
  }

  :global(.rdrDateDisplayWrapper) {
    font-size: 0.75rem;
  }

  :global(.rdrDaySelected),
  :global(.rdrStartEdge),
  :global(.rdrEndEdge) {
    background-color: #22b18f;
    height: 100%;

  }

  :global(.rdrInRange) {
    background-color: #29dcb2;
    height: 100%;
  }

  :global(.rdrSelected) {
  border-radius: 2.042em;
}
 :global(.rdrDayStartPreview .rdrDayEndPreview) {
     content: '';
    position: absolute;
    bottom: 4px;
}


 :global(.rdrDayToday .rdrDayNumber span:after) {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: #ffca14;
 }
}