name: Build and Deploy Segment Sniper

env:
  AZURE_WEBAPI_NAME: as-segmentsniper-api-eastus-dev
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '8'

on:
  push:
    branches: [ "prod" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy-api:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore .NET dependencies
        run: dotnet restore

      - name: Build .NET application
        run: dotnet build --configuration Release

      - name: Apply Entity Framework migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet ef database update --project ./SegmentSniper.Data/SegmentSniper.Data.csproj --startup-project ./SegmentSniperApi/SegmentSniper.Api.csproj --context SegmentSniperDbContext
        env:
          ConnectionStrings__SegmentSniperConnectionString: ${{ secrets.DB_CONNECTION_STRING }}

      - name: Publish .NET
        run: dotnet publish SegmentSniperApi/SegmentSniper.Api.csproj -c Release -o publish

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/publish

      - name: List published files
        run: Get-ChildItem -Recurse D:\a\SegmentSniper\SegmentSniper\publish
        shell: pwsh

      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/publish
  
      # Deploy .NET API to Azure App Service
      - name: Deploy API to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPI_NAME }}
          publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE }}
          package: ${{ github.workspace }}/publish

  deploy-frontend:
    runs-on: ubuntu-latest
    needs: build-and-deploy-api
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Node.js dependencies
        working-directory: ./segment-sniper-react
        run: npm ci

      - name: Build React app
        working-directory: ./segment-sniper-react
        run: npm run build

      - name: Deploy React to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_SWA_DEPLOYMENT_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: ./segment-sniper-react
          api_location: "" # blank, since API is separate
          output_location: dist
