name: Build and Deploy Segment Sniper
env:
  AZURE_WEBAPP_NAME: as-segmentsniper-api-eastus-dev
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '8'

on:
  push:
    branches: [ "prod" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install EF Core CLI tools
        run: dotnet tool install --global dotnet-ef

      - name: Set up Node.js for React build
        uses: actions/setup-node@v3
        with:
          node-version: '21'

      - name: Install Node.js dependencies
        working-directory: ./segment-sniper-react
        run: npm install

      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ./segment-sniper-react/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('./segment-sniper-react/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Build React app
        working-directory: ././segment-sniper-react
        run: npm run build

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Build .NET application
        run: dotnet build --configuration Release

      - name: Apply Entity Framework migrations
        env:
          DOTNET_ROOT: ${{ env.DOTNET_ROOT }}
        run: dotnet ef database update --project ./SegmentSniper.Data.csproj --context SegmentSniperDbContext

      # - name: Verify migration success
      #   run: |
      #     if [ ! -f "__EFMigrationsHistory" ]; then
      #       echo "EF Migrations failed."
      #       exit 1
      #     fi

      - name: Verify migration success
        run: |
          sqlcmd -S ${{ secrets.DB_SERVER }} -d ${{ secrets.DB_NAME }} -U ${{ secrets.DB_USER }} -P ${{ secrets.DB_PASSWORD }} -Q "SELECT COUNT(*) FROM __EFMigrationsHistory;"
        shell: bash

      - name: Move React build output to .NET wwwroot
        run: |
          rm -rf ./SegmentSniperApi/wwwroot/*
          cp -r ./segment-sniper-react/dist/* ./SegmentSniperApi/wwwroot/

      - name: Publish .NET app
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    permissions:
      contents: none
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.DOTNET_ROOT }}/myapp

