name: Build and Deploy Segment Sniper
env:
  AZURE_WEBAPI_NAME: as-segmentsniper-api-eastus-dev
  AZURE_REACT_WEBAPP_NAME: as-segmentsniper-frontend-eastus-dev
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '8'

on:
  push:
    branches: [ "prod" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install EF Core CLI tools
        run: dotnet tool install --global dotnet-ef

      - name: Set up Node.js for React build
        uses: actions/setup-node@v3
        with:
          node-version: '21'

      - name: Install Node.js dependencies
        working-directory: ./segment-sniper-react
        run: npm install

      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ./segment-sniper-react/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('./segment-sniper-react/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Build React app
        working-directory: ./segment-sniper-react
        run: npm run build

      - name: Upload React build artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-app
          path: ./segment-sniper-react/dist

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore .NET dependencies
        run: dotnet restore            

      - name: Build .NET application
        run: dotnet build --configuration Release

      - name: Apply Entity Framework migrations
        run: dotnet ef database update --project ./SegmentSniper.Data/SegmentSniper.Data.csproj --startup-project ./SegmentSniperApi/SegmentSniper.Api.csproj --context SegmentSniperDbContext

      # - name: Debug DB connection info
      #   run: |
      #     echo "DB_SERVER: ${{ secrets.DB_SERVER }}"
      #     echo "DB_NAME: ${{ secrets.DB_NAME }}"
      #     echo "DB_USER: ${{ secrets.DB_USER }}"

      - name: Verify migration success
        run: |
          sqlcmd -S "${{ secrets.DB_SERVER }}" \
                -d "${{ secrets.DB_NAME }}" \
                -U "${{ secrets.DB_USER }}" \
                -P "${{ secrets.DB_PASSWORD }}" \
                -Q "SELECT COUNT(*) FROM __EFMigrationsHistory;"
        shell: bash

        # old way of tryingt to deploy FE 
      # - name: Move React build output to .NET wwwroot
      #   run: |
      #     rm -rf ./SegmentSniperApi/wwwroot/*
      #     cp -r ./segment-sniper-react/dist/* ./SegmentSniperApi/wwwroot/

      - name: Publish .NET app
        run: dotnet publish SegmentSniperApi/SegmentSniper.Api.csproj  -c Release -r win-x64 -o ${{ github.workspace }}/publish -p:PublishTrimmed=false -p:DebugType=None
      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/publish
      
      - name: List published files
        run: Get-ChildItem -Recurse D:\a\SegmentSniper\SegmentSniper\publish
        shell: pwsh
      
      - name: List published files
        run: Get-ChildItem -Recurse ./react-build
        shell: pwsh

  deploy:
    permissions:
      contents: none
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Azure Dev'

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: .net-app
        path: ${{ github.workspace }}/publish

      #  Deploy .NET API
    - name: Deploy API to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPI_NAME }}
        publish-profile: ${{ secrets.AZURE_API_PUBLISH_PROFILE }}
        package: ${{ github.workspace }}/publish        

      #  Deploy React frontend
    - name: Download React artifact
      uses: actions/download-artifact@v4
      with:
        name: react-app
        path: ./react-build
      
    - name: Deploy React frontend to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_REACT_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_FRONTEND_PUBLISH_PROFILE }}
        package: ./react-build

