name: Build and deploy UpdateBikeEquipmentFunction

on:
  workflow_dispatch:

env:
  DOTNET_VERSION: '9.0.x'

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish Function App
        run: >
          dotnet publish UpdateBikeEquipmentFunction/UpdateBikeEquipmentFunction.csproj --configuration Release --output ./publish

      - name: Deploy using Publish Profile (MSDeploy)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'UpdateBikeEquipmentFunction'
          publish-profile: ${{ secrets.UPDATE_BIKE_EQUIPMENT_FUNCTIONAPP_PUBLISH_PROFILE }}
          package: './publish'
